* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: blue;
    justify-content: space-between;
}

header a {
    color: gray;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
}

header h1{
    color: brown;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav ul li {
    display: inline;
}
 
