/* COLORS TO USE
    BLUE GREY: #3d6d79
    DULL ORANGE: #d69d66
    PURPLE GREY: #e0e2ee
    WHITE: #ffffff */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #e0e2ee;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: #d69d66;
    justify-content: space-between;
}

header div {
    background-color: #ffffff;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    padding: 10px 10px;
    color: #3d6d79;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 20px;

} 

header nav ul li {
    display: inline;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
 
header nav ul li a {
    color: #3d6d79;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 25px;
 }

/* Start of hero styling */

 .hero {
     background-image: url(../UofUWeek2/assets/images/newSnow.jpg);
     background-size: cover;
     background-position: center;
     display:flex;
     flex-wrap: wrap;
     justify-content: flex-end;
     align-content: flex-end;
 }

 .hero .suprise {
     background-color: #3d6d79;
     font-size: large;
     font-weight: bold;
     margin-top: 30VW;
     margin-right: 1vw;
     margin-bottom: 1vw;
     border-radius: 10px;
 }

.hero .suprise:hover{
    background-color: #e0e2ee;
}

 .hero .suprise h2 {
     padding:15px 25px;
 }

 .hero .suprise h2 a{
    color: #d69d66;
    text-decoration: none;
 }

 /* Start of about me styling */
 .aboutMe {
     background-color: #3d6d79;
     display: flex;
     justify-content: flex-start;
     align-content: space-around;    
 }

 .header {
     display: flex;
     padding:3.5%;
     margin-left: 13%;
     text-align: right;
     color: #d69d66;
     flex-wrap: wrap;
     font-size: 36px;
 }

 .info {
     display: flex;
     flex-wrap: wrap;
     font-size: 14px;
     padding: 20px 20px 20px 0px;
     color: #d69d66;
 }

 /* begin my work section */
 /* change the left title to have a smaller margin */
 /* change the work icons to have the same sized icon */
 .workSection {
     background-color: #e0e2ee;
     display: flex;
     width: 100%;
 }

.emptyDiv {
    background-color: #d69d66;
    width: 30%;
 }  
 

.work {
     display: flex;
     justify-content: space-between;
     width: 70%;
     flex-wrap: wrap;
     background-color: #d69d66;
 }

 .persProj {
     width: 40%;
     display: flex;
     margin-right: 5%;
     flex-grow: 1;
     padding-top: 5%;
     margin-top: 5%;
     padding-bottom:5%;
     border-radius: 10px;
     color: #3d6d79;
 }

 .persProj a {
     display: flex;
     flex-grow: 1;
     color: #ffffff;
     text-decoration: none;
 }

 /* beginning of runbudy styling */
 #runbuddy {
     background-color: #3d6d79;
 }

 #runbuddy h3 {
     display: flex;
     justify-content: flex-start;
     align-content: flex-end;
     
 }

 #runbuddy h3 a {
     display: flex;
     color: #ffffff;
     text-decoration: none;
 }

/* begin Resume styling */
#resume {
    background-color: #3d6d79;
}

/* begin Loanpro styling */
#loanpro {
    background-color: #3d6d79;
}

/* begin construction Styling */
#construction {
    background-color: #3d6d79;
    color: #ffffff;
}


/* begin footer styling */
footer {
    background-color: #e0e2ee;
    display: flex;
    justify-content: space-between;
}

.footHeader {
    background-color: red;
    font-size: 36px;
    text-align: right;
    display: flex;
    align-items: center;
}

.footlist{
    display: flex;
    align-items: center;
    background-color: blue;
}

.footlist ul li {
    display: inline;


}